<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
	<body>
		<div calss="container text-center" >
		<h1>WELLWOME TO JAVA all</h1>
		</div>
		<div>
		
		<h3> <a th:href="@{/list_user}">List of users</h3>
		<h3> <a th:href="@{/register}">Register</h3>
		<h3> <a th:href="@{/Login}">Login</h3>
		
		</div>
	</body>

</html>

